
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Nunito:ital@1&family=Palette+Mosaic&family=Source+Sans+Pro&family=Ubuntu:ital,wght@1,300&display=swap');




body {
  margin: 0;
  font-family: 'Nunito', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
